body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color:#F1F2EE;
  }
  
  .faq-page{
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color:#F1F2EE;
  }

  .title{
    color: #133A37;
    padding: 20px;
  }

  .how-to-use-page{
    width: 65%; 
    margin: auto; 
  }

  .custom-step-title .ant-steps-item-title{
    color: #133A37 !important;
}

  /*
  .accordion-item {
    margin: 10px 0;
    border: 1px solid #ddd;
    padding: 10px;
  }*/
  
  .help-section, .contacts-section {
    margin: 50px 0;
    padding: 10px;

  }
  
  .accordion {
    background-color:#F1F2EE;
    color: #133A37;
    cursor: pointer;
    padding: 25px 20px;
    width: 100%;
    text-align: left;
    border: 0;
    border-top: 1px solid black;
    outline: none;
    transition: 0.4s;
    margin: 0 200px;
    box-sizing: border-box; 
    width: calc(100% - 400px); 
    font-weight: bold;
    font-size: 1.3em;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    min-width: 50%;
  }

  .active, .accordion:hover {
    background-color: #f5f5f5;
    border-top: 2px solid black;
  }
  

  .panel {
    text-align: left;
    padding: 0 20px;
    background-color: #f5f5f5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0 200px;
    width: calc(100% - 400px);
    box-sizing: border-box;
    font-size: 1.2em;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    min-width: 50%;
  }
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    float: right;
  }

  @media only screen and (max-width: 600px) {
    .accordion {
      padding: 12.5px 10px;
      margin: auto;
    }
    .panel {
      margin: auto;
    }
    .active, .accordion:hover {
      background-color: #f5f5f5;
      border-top: 2px solid black;
    }
  }
